*{margin: 0px;padding: 0px;}
.main{text-align: center;}
.div1{width: 1200px;height: 100px;display: flex;align-items: center;margin: auto;}
.div2{background: url(../img/3.jpeg) no-repeat;width: 100%;height: 588px;position: absolute;left: 0;top: 98px;background-repeat: no-repeat;background-position: top center;}
.cen{width: 1200px;height: 588px;margin: auto;}
.cen1{height: 558px;width: 410px;background-color: white;float: right;margin-top: 30px;}
.cen1{width: 410px;height: 83px;line-height: 83px;}
.sep{width: 1px;height: 24px;margin: 0 35px 0 42px;border: 1px solid #e0e0e0;}
a{text-decoration: none;}
.cena1{color: #666;font-size: 20px;}
.cena1:hover{color: #f56600;}
.cena2{color: #666;font-size: 20px;}
.cena2:hover{color: #f56600;}
.cen2{width: 410px;height: 400px;background-color: royalblue;float: right;clear: both;}
